{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block subbody %}
<a class="ui button" href="{{ path('admin_user_create') }}">
	Create
</a>

<table class="ui basic table stackable striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Email</th>
			<th class="center aligned">Role</th>
			<th class="right aligned">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{{ user.username }}</td>
			<td>
				{% if is_granted("ROLE_MOD") %}
				{{ user.email }}
				{% endif %}
			</td>
			<td class="center aligned">{{ user.role.name|upper }}</td>
			<td class="right aligned">
				{% if is_granted("ROLE_MOD") %}
				<a href="{{ path('admin_user_edit', {'id': user.id}) }}">
					<em class="fa-solid fa-pencil"></em>
				</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if users|length > 10 %}
<div class="ui pagination menu">
    {% for i in 1..(users|length / 10)|round(0, 'ceil') %}
    <a class="item {% if i == currentPage %}active{% endif %}" href="{{ path('admin_user', {'page': i}) }}">
        {{ i }}
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
