{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% form_theme form 'form_layout.html.twig' %}

{% block subbody %}
<a class="ui button" href="{{ path('admin_category_create') }}">
	Create
</a>

<table class="ui basic table stackable striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th class="right aligned">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for category in categories %}
		<tr>
			<td>{{ category.id }}</td>
			<td>
				<a href="{{ path('admin_category_show', {'id': category.id}) }}">
					{{ category.name }}
				</a>
			</td>
			<td class="right aligned">
				<a href="{{ path('admin_category_edit', {'id': category.id}) }}">
                    <em class="fa-solid fa-pencil"></em>
				</a>
				<a href="{{ path('admin_category_delete', {'id': category.id}) }}">
                    <em class="fa-solid fa-trash-can"></em>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if categories|length > 10 %}
<div class="ui pagination menu">
    {% for i in 1..(categories|length / 10)|round(0, 'ceil') %}
    <a class="item {% if i == currentPage %}active{% endif %}" href="{{ path('admin_category', {'page': i}) }}">
        {{ i }}
    </a>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
