{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% form_theme form 'form_layout.html.twig' %}

{% block subbody %}
<a class="ui button" href="{{ path('admin_category_create') }}">
	Create
</a>

<table class="ui basic table stackable striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th class="right aligned">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for category in categories %}
		<tr>
			<td>{{ category.id }}</td>
			<td>
				<a href="{{ path('admin_category_show', {'id': category.id}) }}">
					{{ category.name }}
				</a>
			</td>
			<td class="right aligned">
				<a href="{{ path('admin_category_edit', {'id': category.id}) }}">
					<i class="pencil alternate icon"></i>
				</a>
				<a href="{{ path('admin_category_delete', {'id': category.id}) }}">
					<i class="trash alternate outline icon"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
