<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

	{{ encore_entry_link_tags('app') }}
	{% block stylesheets %}{% endblock %}
	
	{{ encore_entry_script_tags('app') }}
	
	{% block javascripts %}	{% endblock %}
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="#" class="item header">
				Symfofo
			</a>
			
			<a  href="{{ path('index') }}" class="item">
				<i class="file alternate icon" aria-hidden="true"></i>
				Forums
			</a>
			<div class="right menu">
				{% if app.user %}
				{% if is_granted("ROLE_USER") %}
				<a class="item" href="{{ path('admin') }}">
					<i class="cogs icon"></i>
					Administration
				</a>
				{% endif %}
				
				<a href="{{ path('logout') }}" class="item right">
					<i class="sign in icon" aria-hidden="true"></i>
					Logout
				</a>
				{% else %}
				<a href="{{ path('registration') }}" class="item right">
					<i class="user plus icon" aria-hidden="true"></i>
					Register
				</a>
				
				<a href="{{ path('login') }}" class="item right">
					<i class="sign in icon" aria-hidden="true"></i>
					Login
				</a>
				{% endif %}
			</div>
		</div>
	</div>
	
	<div class="ui segment container main">
		{% block body %}{% endblock %}
	</div>
</body>
</html>
