<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfofo{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    
    {{ encore_entry_script_tags('app') }}
    
    {% block javascripts %}	{% endblock %}
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="item header">
                Symfofo
            </a>
            
            <a  href="{{ path('index') }}" class="item">
                Forums
            </a>
            <div class="right menu">
                {% if app.user %}
                {% if is_granted("ROLE_ADMIN") %}
                <div class="ui simple dropdown item right">
                    <em class="wrench icon" aria-hidden="true"></em> Administration <em class="dropdown icon"></em>
                    <div class="menu">
                        <a class="item" href="{{ path('admin_user') }}">
                            <em class="fa-solid fa-users"></em>
                            Users
                        </a>
                        <a class="item" href="{{ path('admin_category') }}">
                            <em class="fa-solid fa-folder"></em>
                            Categories
                        </a>
                    </div>
                </div>
                {% endif %}
                
                <a class="item" href="{{ path('profile') }}">
                    <em class="fa-solid fa-user"></em>
                    Profile
                </a>
                
                <a href="{{ path('logout') }}" class="item right">
                    <em class="fa-solid fa-right-from-bracket"></em>
                    Logout
                </a>
                {% else %}
                <a href="{{ path('registration') }}" class="item right">
                    <em class="fa-solid fa-user-plus"></em>
                    Register
                </a>
                
                <a href="{{ path('login') }}" class="item right">
                    <em class="fa-solid fa-right-from-bracket"></em>
                    Login
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="ui segment container main">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
