{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('category') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('category') }}
{% endblock %}

{% block body %}
<h2 class="ui header">Forum</h2>

<h4 class="ui top attached header inverted">
	{{ category.name }}
</h4>

<div class="ui attached segment">
	{% for topic in category.topics %}
	<div class="ui grid stackable">
		<div class="one wide column middle aligned">
			<div class="ui fluid image small">
				<img src="{{ asset('build/images/square-image.png') }}" alt="Default topic picture">
			</div>
		</div>
		<div class="six wide column">
			<div class="row">
				<a href="{{ path('topic', {'id': topic.id}) }}">
					{{ topic.title }}
				</a>
			</div>
			<div class="row">
				{{ topic.createdAt|date("H:s d M Y")}}
			</div>
			<div class="row">
				{{ topic.author.username }}
			</div>
		</div>
		<div class="two wide column middle aligned">
			<div class="row">{{ topic.views }}</div>
			<div class="row">
				<strong>Views</strong>
			</div>
		</div>
		<div class="four wide column middle aligned">
			<div class="row">{{ topic.posts|length }}</div>
			<div class="row">
				<strong>Posts</strong>
			</div>
		</div>
		{% if topic.lastPost %}
		<div class="three wide column right aligned middle aligned">
			<div class="row">
				<strong>
					{{ topic.lastPost.author.username }}
				</strong>
			</div>
			<div class="row">
				{{ topic.lastPost.createdAt|date("H:s d M Y")}}
			</div>
		</div>
		{% endif %}
	</div>
	{% endfor %}
	
	<div class="ui grid stackable">
		<div class="sixteen wide column">
			{% if app.user %}
			<a class="ui button right floated" href="{{ path('new_topic', {'id': category.id}) }}">
				New topic
			</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}